@import "navbar";
@import "banner";
@import "footer";
@import "resume";
@import "hobby";

.no-display {
  display: none;
}

.display {
  display: "";
}

.margin-top {
  margin-top: 100px;
}

.margin-top2 {
  margin-top: 72px;
}
