.skill {
  width: 90%;
  height: 58.2vh;
  margin: 0 auto;

  .skill-category{
    display: flex;
    justify-content: space-around;
    align-items: center;

    .btn-skill {
    background-color: blue;
    min-height: 260px;
    min-width: 260px;
    border-radius: 50%;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    }

    .skills-speak, .skills-programming, .skills-it {
      width: 472px;
      height: 472px;
      border-radius: 0px;
      border: 1px solid black;
      border-radius: 50%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .skills-speak {
      background-color: $red-button;
    }

    .languages {
      background-color: $red-button;
    }

    .skills-programming {
      background-color: $yellow-button;
    }

    .programming {
      background-color: $yellow-button;
    }

    .skills-it {
      background-color: $blue-button;
    }

    .it {
      background-color: $blue-button;
    }
  }

  .category {
    margin: 0 auto;
    padding-top: 8px;

    .img-skills {
      height: 64px;
      width: 64px;
    }

    .img-wagon {
      height: 64px;
      width: 52px;
    }

    .img-datastudio {
      height: 70px;
      width: 100px;
    }
  }

  .other {
    display:flex;
    align-items: center;
  }

  .others {
    text-align: center;
    margin-top: 32px;
    margin-bottom: 12px;
  }

  .margin-right {
    margin-right: 16px;
  }
}
