<div class="navbar">
  <div class="language">
    <%= link_to "Français", root_path, class:"category-button right-border" %>
    <%= link_to "English", english_path, class:"category-button left-padding page" %>
  </div>

  <div class="categories-buttons">
    <button class="category-button right-border resume-button">
      Resume
    </button>
    <button class="category-button right-border">
      Projects
    </button>
    <button class="category-button">
      Contact
    </button>
  </div>
</div>
