<div class="navbar">
  <div class="language">
    <%= link_to "Français", root_path, class:"category-button right-border" %>
    <%= link_to "English", english_path, class:"category-button left-padding page" %>
  </div>
  <div class="menu no-display">
    <%= link_to english_path, class:"menu-button" do %>
      <div class="square"></div>
      <h3>Maxime Ayllon</h3>
    <% end %>
  </div>
  <div class="categories-buttons">
    <button class="category-button right-border resume-button">
      Resume
    </button>
    <button class="category-button right-border hobby-button">
      Hobbies
    </button>
    <button class="category-button">
      Skills
    </button>
  </div>
</div>
