<div class="resume no-display">
  <h1>Resume</h1>

  <div class="category professionnal">
    <div class="title">
      <h2>Expériences Professionnelles</h2>
    </div>
    <div class="items">
      <div class="item">
        <div class="item-date">
          <h6>2020 - Present</h6>
        </div>
        <div class="item-description">
          <h5>Editor</h5>
          <p>I'm a paragraph. Click here to add your own text and edit me.
          It’s easy. Just click “Edit Text” or double click me to add your own
          content and make changes to the font.</p>
        </div>
      </div>
      <div class="item">
        <div class="item-date">
          <h6>2020 - Present</h6>
        </div>
        <div class="item-description">
          <h5>Editor</h5>
          <p>I'm a paragraph. Click here to add your own text and edit me.
          It’s easy. Just click “Edit Text” or double click me to add your own
          content and make changes to the font.</p>
        </div>
      </div>
      <div class="item">
        <div class="item-date">
          <h6>2020 - Present</h6>
        </div>
        <div class="item-description">
          <h5>Editor</h5>
          <p>I'm a paragraph. Click here to add your own text and edit me.
          It’s easy. Just click “Edit Text” or double click me to add your own
          content and make changes to the font.</p>
        </div>
      </div>
    </div>
  </div>

  <div class="category education">
    <div class="title">
      <h2>Expériences Professionnelles</h2>
    </div>
    <div class="items">
      <div class="item">
        <div class="item-date">
          <h6>2020 - Present</h6>
        </div>
        <div class="item-description">
          <h5>Editor</h5>
          <p>I'm a paragraph. Click here to add your own text and edit me.
          It’s easy. Just click “Edit Text” or double click me to add your own
          content and make changes to the font.</p>
        </div>
      </div>
      <div class="item">
        <div class="item-date">
          <h6>2020 - Present</h6>
        </div>
        <div class="item-description">
          <h5>Editor</h5>
          <p>I'm a paragraph. Click here to add your own text and edit me.
          It’s easy. Just click “Edit Text” or double click me to add your own
          content and make changes to the font.</p>
        </div>
      </div>
      <div class="item">
        <div class="item-date">
          <h6>2020 - Present</h6>
        </div>
        <div class="item-description">
          <h5>Editor</h5>
          <p>I'm a paragraph. Click here to add your own text and edit me.
          It’s easy. Just click “Edit Text” or double click me to add your own
          content and make changes to the font.</p>
        </div>
      </div>
    </div>
  </div>
  <div class="category skills">
    <div class="title">
      <h2>Expériences Professionnelles</h2>
    </div>
    <div class="items", id="no-border">
      <div class="item">
        <div class="item-date">
          <h6>2020 - Present</h6>
        </div>
        <div class="item-description">
          <h5>Editor</h5>
          <p>I'm a paragraph. Click here to add your own text and edit me.
          It’s easy. Just click “Edit Text” or double click me to add your own
          content and make changes to the font.</p>
        </div>
      </div>
      <div class="item">
        <div class="item-date">
          <h6>2020 - Present</h6>
        </div>
        <div class="item-description">
          <h5>Editor</h5>
          <p>I'm a paragraph. Click here to add your own text and edit me.
          It’s easy. Just click “Edit Text” or double click me to add your own
          content and make changes to the font.</p>
        </div>
      </div>
      <div class="item">
        <div class="item-date">
          <h6>2020 - Present</h6>
        </div>
        <div class="item-description">
          <h5>Editor</h5>
          <p>I'm a paragraph. Click here to add your own text and edit me.
          It’s easy. Just click “Edit Text” or double click me to add your own
          content and make changes to the font.</p>
        </div>
      </div>
    </div>
  </div>
</div>
