<div class="skill no-display">
  <div class="skill-categories">
    <div class="skill-category">
      <div class="skills-speak">
        <div class="french">

        </div>
        <div class="english">

        </div>
        <div class="spanish">

        </div>
      </div>
      <div class="skills-it">
        <div class="word">

        </div>
        <div class="powerpoint">

        </div>
        <div class="excel">

        </div>
        <div class="datastudio">

        </div>
        <div class="figma">

        </div>
        <div class="whimsical">

        </div>
      </div>
      <div class="skills-programming">
        <div class="html">

        </div>
        <div class="css">

        </div>
        <div class="ruby">

        </div>
        <div class="js">

        </div>
        <div class="sql">

        </div>
        <div class="python">

        </div>
      </div>
    </div>
  </div>
</div>
