<div class="landpage">
  <div class="navbar">
    <div class="language">
      <%= link_to "Français", root_path, class:"category-button right-border" %>
      <%= link_to "English", english_path, class:"category-button left-padding page" %>
    </div>

    <div class="categories-buttons">
      <button class="category-button right-border">
        Resume
      </button>
      <button class="category-button right-border">
        Projects
      </button>
      <button class="category-button">
        Contact
      </button>
    </div>
  </div>


  <div class="banner">
    <%= image_tag "photo_moi.png", class:"photo_moi"  %>
    <div class="description">
      <h1>HELLO</h1>
      <h3>A Bit About Me</h3>
      <div class="text">
        <h6>I'm a paragraph. Click here to add your own text and edit me.
        I’m a great place for you to tell a story and let your users know a
        little more about you.</h6>
      </div>

      <div class="descriptions-buttons">
        <button class="description-button", id="yellow-button">
          Resume
        </button>
        <button class="description-button", id="red-button">
          Projects
        </button>
        <button class="description-button", id="blue-button">
          Contact
        </button>
      </div>
    </div>
  </div>


  <div class="resume">
    <h1>Curriculum Vitae</h1>

    <div class="category professionnal">
      <div class="title">
        <h2>Expériences Professionnelles</h2>
      </div>
      <div class="items">
        <div class="item">
          <div class="item-date">
            <h6>2020 - Present</h6>
          </div>
          <div class="item-description">
            <h5>Editor</h5>
            <p>I'm a paragraph. Click here to add your own text and edit me.
            It’s easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font.</p>
          </div>
        </div>
        <div class="item">
          <div class="item-date">
            <h6>2020 - Present</h6>
          </div>
          <div class="item-description">
            <h5>Editor</h5>
            <p>I'm a paragraph. Click here to add your own text and edit me.
            It’s easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font.</p>
          </div>
        </div>
        <div class="item">
          <div class="item-date">
            <h6>2020 - Present</h6>
          </div>
          <div class="item-description">
            <h5>Editor</h5>
            <p>I'm a paragraph. Click here to add your own text and edit me.
            It’s easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="category education">
      <div class="title">
        <h2>Expériences Professionnelles</h2>
      </div>
      <div class="items">
        <div class="item">
          <div class="item-date">
            <h6>2020 - Present</h6>
          </div>
          <div class="item-description">
            <h5>Editor</h5>
            <p>I'm a paragraph. Click here to add your own text and edit me.
            It’s easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font.</p>
          </div>
        </div>
        <div class="item">
          <div class="item-date">
            <h6>2020 - Present</h6>
          </div>
          <div class="item-description">
            <h5>Editor</h5>
            <p>I'm a paragraph. Click here to add your own text and edit me.
            It’s easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font.</p>
          </div>
        </div>
        <div class="item">
          <div class="item-date">
            <h6>2020 - Present</h6>
          </div>
          <div class="item-description">
            <h5>Editor</h5>
            <p>I'm a paragraph. Click here to add your own text and edit me.
            It’s easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="category skills">
      <div class="title">
        <h2>Expériences Professionnelles</h2>
      </div>
      <div class="items", id="no-border">
        <div class="item">
          <div class="item-date">
            <h6>2020 - Present</h6>
          </div>
          <div class="item-description">
            <h5>Editor</h5>
            <p>I'm a paragraph. Click here to add your own text and edit me.
            It’s easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font.</p>
          </div>
        </div>
        <div class="item">
          <div class="item-date">
            <h6>2020 - Present</h6>
          </div>
          <div class="item-description">
            <h5>Editor</h5>
            <p>I'm a paragraph. Click here to add your own text and edit me.
            It’s easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font.</p>
          </div>
        </div>
        <div class="item">
          <div class="item-date">
            <h6>2020 - Present</h6>
          </div>
          <div class="item-description">
            <h5>Editor</h5>
            <p>I'm a paragraph. Click here to add your own text and edit me.
            It’s easy. Just click “Edit Text” or double click me to add your own
            content and make changes to the font.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


  <div class="footer">
    <div class="number">
      <h4>Phone</h4>
      <h6>07.61.46.98.94</h6>
    </div>

    <div class="email">
      <h4>Email</h4>
      <h6>maxime.ayllon@essca.eu</h6>
    </div>

    <div class="network">
      <h4>Follow me</h4>
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
