.footer {
  width: 92%;
  padding-top: 24px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 24px;
  display: flex;
  justify-content: space-around;
  border-top: 1px solid $border;
  h4 {
    font-size: 18px;
    font-weight: bold;
  }
  h6 {
    font-size: 16px;
    font-weight: 100;
  }
  .fab {
    color: black;
  }
}

