.navbar {
  min-height: 40px;
  margin-top: 8px;
  .language {
    display: flex;
    justify-content: space-around;
  }
  .categories-buttons{
    display: flex;
    justify-content: space-around;
    margin-right: 40px;
  }
  h4 {
    font-size: 16px;
  }
  .category-button {
    color: black;
    border: none;
    background-color: $light-gray;
    margin-bottom: 8px;
    padding-left: 20px;
    &:hover {
      text-decoration: none;
      color: $light-brown;
      transition-duration: 0.4s;
    }
  }

  .right-border {
    border-right: 1px solid;
    padding-right: 20px;
  }

  .page {
    color: $light-brown;
    font-weight: bold;
  }
}
