<div class="banner">
  <%= image_tag "photo_moi.png", class:"photo_moi"  %>
  <div class="description">
    <h1>HELLO</h1>
    <h3>A Bit About Me</h3>
    <div class="text">
      <h6>I'm a paragraph. Click here to add your own text and edit me.
      I’m a great place for you to tell a story and let your users know a
      little more about you.</h6>
    </div>

    <div class="descriptions-buttons">
      <button class="description-button resume-button", id="yellow-button">
        CV
      </button>
      <button class="description-button", id="red-button">
        Projets
      </button>
      <button class="description-button", id="blue-button">
        Contact
      </button>
    </div>
  </div>
</div>
