<div class="footer">
  <div class="number">
    <h4>Phone</h4>
    <h6>07.61.46.98.94</h6>
  </div>

  <div class="email">
    <h4>Email</h4>
    <h6>maxime.ayllon@essca.eu</h6>
  </div>

  <div class="network">
    <h4>Follow me</h4>
    <a href="https://github.com/maxayllon" target="blank"><i class="fab fa-github"></i></a>
    <a href="https://www.linkedin.com/in/maxime-ayllon-961622179/" target="blank"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
