<div class="footer">
  <div class="number">
    <h4>Phone</h4>
    <h6>07.61.46.98.94</h6>
  </div>

  <div class="email">
    <h4>Email</h4>
    <h6>maxime.ayllon@essca.eu</h6>
  </div>

  <div class="network">
    <h4>Follow me</h4>
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
</div>
