<div class="hobby no-display">
  <div class="hobbies-icon">
    <div class="hobby-icon">
      <h3>Rugby</h3>
      <%= image_tag "rugby.png", class:"img" %>
    </div>
    <div class="hobby">
      <h3>Tennis</h3>
      <%= image_tag "tennis.png", class:"img" %>
    </div>
    <div class="hobby">
      <h3>Running</h3>
       <%= image_tag "run.png", class:"img" %>
    </div>
    <div class="hobby">
      <h3>Web Developer</h3>
      <%= image_tag "web.png", class:"img" %>
    </div>
  </div>
  <div class="hobbies_description">
    <div class="rugby hobby_description">
      <h2>Rugby</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Consequuntur veniam eligendi quam ad facere voluptatem nisi quo
      exercitationem deserunt voluptates accusamus, natus! Magni veniam
      cupiditate, inventore illum ratione accusamus facilis.</p>
    </div>
    <div class="tennis hobby_description">
      <h2>Tennis</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Consequuntur veniam eligendi quam ad facere voluptatem nisi quo
      exercitationem deserunt voluptates accusamus, natus! Magni veniam
      cupiditate, inventore illum ratione accusamus facilis.</p>
    </div>
    <div class="run hobby_description">
      <h2>Running</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Consequuntur veniam eligendi quam ad facere voluptatem nisi quo
      exercitationem deserunt voluptates accusamus, natus! Magni veniam
      cupiditate, inventore illum ratione accusamus facilis.</p>
    </div>
    <div class="web-developer hobby_description">
      <h2>Web Developer</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Consequuntur veniam eligendi quam ad facere voluptatem nisi quo
      exercitationem deserunt voluptates accusamus, natus! Magni veniam
      cupiditate, inventore illum ratione accusamus facilis.</p>
    </div>
  </div>
</div>

