<div class="hobby no-display">
  <div class="hobbies-icon">
    <div id="rugby-icon">
      <%= image_tag "rugby.png", class:"img" %>
    </div>
    <div id="tennis-icon">
      <%= image_tag "tennis.png", class:"img" %>
    </div>
    <div id="run-icon">
       <%= image_tag "run.png", class:"img" %>
    </div>
    <div id="web-icon">
      <%= image_tag "web.png", class:"img" %>
    </div>
  </div>
  <div class="hobbies_description">
    <div class="rugby hobby_description">
      <h2>Rugby</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Consequuntur veniam eligendi quam ad facere voluptatem nisi quo
      exercitationem deserunt voluptates accusamus, natus! Magni veniam
      cupiditate, inventore illum ratione accusamus facilis.</p>
    </div>
    <div class="tennis hobby_description no-display">
      <h2>Tennis</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Consequuntur veniam eligendi quam ad facere voluptatem nisi quo
      exercitationem deserunt voluptates accusamus, natus! Magni veniam
      cupiditate, inventore illum ratione accusamus facilis.</p>
    </div>
    <div class="run hobby_description no-display">
      <h2>Running</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Consequuntur veniam eligendi quam ad facere voluptatem nisi quo
      exercitationem deserunt voluptates accusamus, natus! Magni veniam
      cupiditate, inventore illum ratione accusamus facilis.</p>
    </div>
    <div class="web-developer hobby_description no-display">
      <h2>Web Developer</h2>
      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
      Consequuntur veniam eligendi quam ad facere voluptatem nisi quo
      exercitationem deserunt voluptates accusamus, natus! Magni veniam
      cupiditate, inventore illum ratione accusamus facilis.</p>
    </div>
  </div>
</div>

