<div class="navbar">
  <div class="language">
    <%= link_to "Français", root_path, class:"category-button right-border page" %>
    <%= link_to "English", english_path, class:"category-button left-padding" %>
  </div>

  <div class="categories-buttons">
    <button class="category-button right-border">
      CV
    </button>
    <button class="category-button right-border">
      Projets
    </button>
    <button class="category-button">
      Contact
    </button>
  </div>
</div>
