<div class="landpage">
  <div class="navbar">
    <div class="language">
      <h4>French</h4>
      <h4>|</h4>
      <h4>English</h4>
    </div>
    <div class="categories">
      <h4>CV</h4>
      <h4>|</h4>
      <h4>Projets</h4>
      <h4>|</h4>
      <h4>Contact</h4>
    </div>
  </div>
  <div class="banner">
    <%= image_tag "photo_moi.png", class:"photo_moi"  %>
    <div class="description">
      <h1>HELLO</h1>
      <h3>A Bit About Me</h3>
      <h6>I'm a paragraph. Click here to add your own text and edit me.
      I’m a great place for you to tell a story and let your users know a
      little more about you.</h6>
    </div>
  </div>
  <div class="footer">
    <div class="number">
      <h4>Phone</h4>
      <h6>07.61.46.98.94</h6>
    </div>
    <div class="email">
      <h4>Email</h4>
      <h6>maxime.ayllon@essca.eu</h6>
    </div>
    <div class="network">
      <h4>Follow me</h4>
      <a href="#"><i class="fab fa-github"></i></a>
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
      <a href="#"><i class="fab fa-linkedin"></i></a>
    </div>
  </div>
</div>
